GRAFANA_ADMIN_USER={{ prerequisitos_grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ prerequisitos_grafana_admin_password }}
GRAFANA_PORT={{ prerequisitos_grafana_port }}
PROMETHEUS_PORT={{ prerequisitos_prometheus_port }}
CADVISOR_PORT={{ prerequisitos_cadvisor_port }}
NODE_EXPORTER_PORT={{ prerequisitos_node_exporter_port }}
LOKI_PORT={{ prerequisitos_loki_port }}
ALLOY_PORT={{ prerequisitos_alloy_port }}
GRAFANA_WEBHOOK_TOKEN={{ prerequisitos_grafana_webhook_token }}
